* {
  box-sizing: border-box; }

body {
  background-color: black; }

h1 {
  color: white; }

.mainTreeBox {
  width: 525px;
  border: 1px solid red;
  display: flex;
  flex-flow: column wrap;
  font-size: 2em;
  background: url(http://i.imgur.com/JcxXO.jpg);
  background-size: cover;
  background-position: -150px 0px;
  background-repeat: no-repeat; }

.treeStar {
  color: yellow;
  align-self: center;
  margin: -5px 0px; }

.initialBranch {
  color: #00ff00;
  align-self: center;
  margin: -5px 0px; }

.initialDeco {
  color: purple;
  align-self: center;
  margin: -5px 0px; }

.treeBranches {
  border: 1px dashed red;
  align-self: center; }

.treeLeaves {
  color: #00ff00;
  align-self: center; }

.treeDeco {
  color: purple;
  align-self: center; }

.treeStump {
  color: #4d1900;
  align-self: center; }
